header {
  background-color: rgb(79, 70, 229, 1);
  display: flex;
  align-items: center;
  box-shadow: 0 11px 7px -2px gray;
  min-width: 100vw;
  max-width: 100vw;
  justify-content: space-around;
}

header h1 {
  border-bottom: 1px solid aliceblue;
  padding-bottom: 1px;
  padding-left: 10px;
}

.navBar ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  margin: 0;
}

.navBar li,
.navBar ul {
  height: fit-content;
}

.navBar ul {
  padding: 10px;
}

.navBar li a {
  text-decoration: none;
  font-size: 1.5em;
  padding: 20px;
}

.navBar li a:visited,
.navBar li a {
  color: aliceblue;
  font-weight: bold;
}
