.shoppingCart {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  width: min(80vw, 1000px);
  gap: 20px;
}

.shoppingCartItem {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 1px 3px rgb(0, 0, 102);
}

.shoppingCartItem h2 {
  font-size: 1.3em;
  background-color: bisque;
  width: 100%;
  text-align: center;
  padding: 5px 0 5px 0;
}

.cartItemPrice,
.totalPrice {
  font-size: 1.4em;
  color: rgb(90, 9, 9, 0.8);
  font-weight: 800;
  font-style: italic;
  text-decoration-line: underline;
  text-decoration-color: bisque;
  text-decoration-thickness: 4px;
}

.cartItemAmount {
  font-size: 1.1em;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: bisque;
  width: 250px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.cartItemAmountSpan {
  padding: 5px;
  background-color: bisque;
  font-weight: bold;
  border: 2px solid black;
  height: 21px;
  display: block;
  text-align: center;
}

.shoppingCartItem input {
  width: 80px;
}

.shoppingCartItem button,
.totalPrice button {
  background-color: antiquewhite;
  font-weight: bold;
  height: 34px;
}

.totalPrice {
  display: flex;
  align-items: center;
  gap: 20px;
}
